<h4>
  Introduction
</h4>
<br><br>
<p><%= @person.introduce %></p>
<hr>
<h4>
  Birth Year
</h4>
<br>
<br>
<p><%= @person.birth_year %></p>
<hr>
<h4>Nickname</h4>
<br>
<br>
<p><%= @person.nickname %></p>